server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: "*"
            allowedHeaders: "*"

      routes:
        # 1. Route pour l'authentification (Accès libre)
        - id: security-route
          uri: lb://SECURITY-SERVICE
          predicates:
            - Path=/auth/**

        # 2. Route Colis (Protégée + Nettoyage /api)
        - id: colis-route
          uri: lb://COLIS-SERVICE
          predicates:
            - Path=/api/colis/**
          filters:
            - StripPrefix=1
            - JwtAuthenticationFilter

        # 3. Route Livraison (Protégée + Nettoyage /api)
        - id: livraison-route
          uri: lb://LIVRAISON-SERVICE
          predicates:
            - Path=/api/suivi/**
          filters:
            - StripPrefix=1
            - JwtAuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/