server:
  port: 8082 # Port 8082

spring:
  application:
    name: livraison-service

  datasource:
    url: jdbc:postgresql://localhost:5432/suivie_db
    username: postgres
    password: Yassine2001*
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

  # C'est ici qu'on insère la config cloud (aligné avec datasource et jpa)
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
      client:
        config:
          default:
            connectTimeout: 2000
            readTimeout: 3000
          COLIS-SERVICE:
            connectTimeout: 2000
            readTimeout: 3000
            loggerLevel: full

# Configuration Resilience4j Circuit Breaker pour Feign
resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        slowCallRateThreshold: 100
        slowCallDurationThreshold: 2s
    instances:
      COLIS-SERVICE:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 3s
    instances:
      COLIS-SERVICE:
        baseConfig: default

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true