server:
  port: 8081 # Port 8081 (Livraison est sur 8082, Eureka sur 8761)

spring:
  application:
    name: colis-service # Nom important pour Eureka

  datasource:
    url: jdbc:postgresql://localhost:5432/colis_db
    username: postgres
    password: Yassine2001* # <-- REMPLACE ICI
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true